extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum nec ante in viverra. Aenean tempor quam ac justo tempus gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Duis sed imperdiet lectus. Mauris id tincidunt ipsum. Donec a magna commodo, ultricies nunc in, sodales urna. Aenean laoreet ligula in euismod pretium. Proin augue tortor, scelerisque fermentum mattis a, sollicitudin et arcu. Sed nec lectus ipsum. Duis orci urna, ornare et sagittis in, lobortis eget turpis. Quisque sit amet est euismod, varius mi ac, lacinia arcu. Nunc pellentesque dolor mauris, at sodales felis egestas in. Sed sit amet gravida nunc.

                p Praesent convallis congue ultricies. Suspendisse potenti. Curabitur quis pretium odio. Duis eleifend porttitor tempus. Donec accumsan erat nec lacus imperdiet, sit amet vestibulum tellus malesuada. Curabitur placerat nisi sed lectus pulvinar, eget tristique est laoreet. Phasellus nec turpis sed tortor faucibus dapibus. Maecenas blandit ante a leo rutrum, vel sagittis lorem tincidunt. Quisque pretium ornare massa ultrices congue. 

                p Suspendisse sit amet placerat magna. Donec aliquam elit eget porta dignissim. Integer sodales feugiat nunc, ut malesuada nibh ultrices quis. Fusce id arcu maximus, varius sapien vel, aliquet felis. Aliquam in erat ut tellus molestie tempor nec eget lacus. Vivamus semper varius lorem vitae bibendum. Vivamus volutpat malesuada tempus. Duis pellentesque, mauris vehicula sodales mollis, tortor nisi dictum massa, nec placerat elit magna vel odio.
    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Aliquam in erat ut tellus molestie tempor nec eget lacus. Vivamus semper varius lorem vitae bibendum. Vivamus volutpat malesuada tempus.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Aliquam in erat ut tellus molestie tempor nec eget lacus. Vivamus semper varius lorem vitae bibendum. Vivamus volutpat malesuada tempus.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Aliquam in erat ut tellus molestie tempor nec eget lacus. Vivamus semper varius lorem vitae bibendum. Vivamus volutpat malesuada tempus. 